{% extends 'base.html.twig' %}

{% block body %}

<table class="author-list">
    <thead>
        <tr>
            <th>Author ID</th>
            <th>Author Name</th>
            <th>Quotes</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
        <tr>
            <td>{{author.id}}</td>
            <td>{{author.name}}</td>
            {% quote in quotes %}
                <td>quote.quote</td>
            {% endfor %}
            <td>
                <a href =" {{}} " class="btn btn-default"> Edit </a>
                <a href =" {{}} " class="btn btn-danger"> Delect </a>
            </td>
        </tr>
        {% endfor%}
    </tbody>
</table>



{% endblock %}